*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(21, 13, 75);
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.logo{
    font-size: 2.8rem;
    font-weight: 800;
    letter-spacing: -0.02em;
    font-family: "Times New Roman", Times, serif;

    margin-top: 4rem;
    margin-left: 3rem;
}

.subtitle{
    position: relative;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5);
    font-size: 1.2rem;
    font-weight: 300;
    width:18rem;
    background-size:200%;
    animation: animationGradient 3s linear infinite;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(82, 59, 228, 0.5);
    margin-top: 1.5rem;
    margin-left: 3rem;
    padding: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes animationGradient{
    to{
        background-position: 200%;
    }

}

.about {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-left: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}